<form [formGroup]="profileForm">

    <mat-form-field>
        <mat-label>Title </mat-label>
        <input matInput type="text" formControlName="title">
        <mat-hint>Make sure that an ad with the same title doesn't exist already</mat-hint>
        <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description: </mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
        <mat-error>This field must contain at least 10 letters</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Skills: </mat-label>
        <input placeholder=" " 
        matInput type="text" formControlName="skills"/>
        <mat-hint>Enter skills divided by a | symbol (e.g. Angular|React|TS)</mat-hint>
        <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status:</mat-label>
        <mat-select formControlName="status">
          <mat-option value="draft">Draft</mat-option>
          <mat-option value="published">Published</mat-option>
        </mat-select>
        <mat-error>This field is required</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button [disabled]="isFormDisabled()" type="button" mat-raised-button color="primary">Submit</button>
        <button type="button" mat-raised-button color="warn" (click)="navigateBack()">Cancel</button>
    </div>
  
</form>