:host {
    display: flex;
    width: 70%;
    margin: auto;

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 10px;

        .buttons {
            display: flex;
            gap: 0.5rem;
        }
    }
}

@media (max-width: 768px) {

    :host {
        width: 98%;
        margin: auto
    }

    mat-form-field {
        margin-bottom: 1rem;
    }

}