.router-wrap {
    padding-top: 3rem;
    width: 80%;
    margin: auto;
}

.spinner-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

@media (max-width: 768px) {

    .router-wrap {
        width: 90%;
    }

}