<mat-card>

    <mat-card-header>
        <mat-card-title>
            {{jobAd.title}}
        </mat-card-title>
        <mat-card-subtitle>        
            <mat-chip-set>
                <mat-chip disableRipple *ngFor="let skill of jobAd.skills">{{skill}}</mat-chip>
            </mat-chip-set>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="ad-description">{{jobAd.description}}</div>
    </mat-card-content>

    <mat-card-actions>
        <mat-chip disableRipple>{{jobAd.status | titlecase}}</mat-chip>
        <div class="actions-spacer"></div>
        <div class="buttons">
            <button mat-mini-fab matTooltip="Edit" [routerLink]="['../edit',0]">
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="jobAd.status === 'draft'" mat-mini-fab matTooltip="Publish" (click)="publishAd(jobAd.id)">
                <mat-icon>publish</mat-icon>
            </button>
            <button *ngIf="jobAd.status === 'published'" mat-mini-fab matTooltip="Archive" (click)="archiveAd(jobAd.id)">
                <mat-icon>archive</mat-icon>
            </button>
        </div>
    </mat-card-actions>



</mat-card>
