<mat-form-field class="example-form-field">
    <input [formControl]="searchInput" matInput type="text" placeholder="Enter a job title...">
    <button matSuffix mat-icon-button *ngIf="searchInput.value" (click)="searchInput.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<div class="filters">
    <mat-icon>filter_alt</mat-icon>
    <!--TODO: Components-->
    <button mat-stroked-button color="primary" [ngClass]="{'active-filter': (draftFilter$ | async)}"
      (click)="changeFilters(['draft'])">Draft</button>
    <button mat-stroked-button color="primary" [ngClass]="{'active-filter': (publishedFilter$ | async)}"
      (click)="changeFilters(['published'])">Published</button>
    <button mat-stroked-button color="primary" [ngClass]="{'active-filter': (archivedFilter$ | async)}"
      (click)="changeFilters(['archived'])">Archived</button>
</div>
<mat-paginator [length]="20"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 15, 20]"
>
</mat-paginator>


