:host {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .filters {
        padding-left: 1rem;
        padding-bottom: 1rem;
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
    }
}

@media (max-width: 768px) {

   :host {
        flex-wrap: wrap;

        .filters {
            padding-left: 0rem;
            width: 95%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
        }
   }

}