<mat-form-field class="example-form-field">
    <input [formControl]="searchInput" matInput type="text" placeholder="Enter a job title...">
    <button matSuffix mat-icon-button *ngIf="searchInput.value" (click)="searchInput.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<div class="filters">
  <mat-icon>filter_alt</mat-icon>
  <app-filter [status]="'draft'"></app-filter>
  <app-filter [status]="'published'"></app-filter>
  <app-filter [status]="'archived'"></app-filter>
</div>
<app-paginator></app-paginator>


