/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





@media (max-width: 768px) {

    .mat-mdc-paginator-range-label {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mat-mdc-paginator-container {
        flex-wrap: nowrap !important;
    }

}